<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="../../static/css/styles.css"
          th:href="@{css/styles.css}"/>

    <title>Delete</title>
</head>
<body>
<div class="container">
    <h1>Delete </h1>
    <h2>Are you sure you want to delete</h2>


    <form action="#" th:action="@{/delete}"  method="post">
        <input type="text"  th:value="${stu.studentId}"/>
        <input type="text"  th:value="${stu.firstName}"/>
        <input type="text" th:value="${stu.lastName}"/>
        <input type="text" th:value="${stu.cpr}"/>
        <input type="text" th:value="${stu.enrollmentDate}"/>
        <input type="submit" value="YES" class="btn btn-del"/>
    </form>
    <a href="/" class="btn btn-create">NO</a>
</div>

</body>
</html>